* {
    margin: 0;
    box-sizing: border-box;
   
    padding: 0;
}

.logo img {
    border: none;
    height: 50px;
    width: 500px;
}

body {
    padding: 0px;
    max-width: 5000px;
    height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

header{
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background-color: lightblue;
}

nav {
    background-color: lightblue;
    margin-top: 1rem;
}

nav ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    background-color: lightblue;
    padding: 5px;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
   
    color: #000;
    background-color: whitesmoke;
    text-decoration: none;
    text-align: left;
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px; 
}


nav a:hover {
    cursor: pointer;
    color: black;
    transform: scale(1);
}

img {
    width: 100px;
    margin: 5px;
    height: 100px;
    border: 0 1rem solid lightblue;
}

h1 {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
}

h2, h3 {
    font-size: large;
    text-align: left;
    color: #000;
}

p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    background-color: bisque;
    padding: 0 2rem;
    border: 2px solid black;
}

section p {
    padding-top: 10px;
    padding-left: 5px;
}

section a {
    margin-left: 0;
    padding: 1rem;
    color: black;
}

section li {
    text-align: left;
    padding-left: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

section a:hover {
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

main {
    display: flex;
    background-color: bisque;
    padding: 15px;
    gap: 15px;
}

main p {
    display: flex;
    padding: 15px;
    gap: 12px;
}

.left-column, 
.right-column {
    flex: 1;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    
    
}

.box-area {
   background-color: whitesmoke; 
   margin-top: 20px;
   text-align: left;
}

.useful-info {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    
}

#opening-hours {
    padding-top: 5px;
}

button {
    border: solid 2px;
    background-color: whitesmoke;
    color: #000;
    border-radius: 0.5rem;
    border-style: solid;
    font-weight: 200;
    padding: 5px;
    padding-left: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

button:hover {
    background-color:rgb(114, 175, 199);
    color: black;
}

.pic img {
    border: none;
    height: 50px;
    width: 500px;
}

footer {
    padding: 0.2rem;
    margin-top: 0.3rem;
    background-color: lightblue;
    text-align: left;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p  {
    color: black;

text-shadow: 0cqb;
}

form {
    width: 100%;
    margin: auto;
    border-radius: 20px;
    color: black;
}

aside {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 20px;
    text-shadow: 0cqb;
    background-color: white;
}





form[name = "memberform"] {
    max-width: 100%;
    padding: 20px;
    max-width: 100%;
    margin: 15px auto ;
    background-color: white;
    border: solid black 0.1px;
    text-align: left;
    font-weight: lighter;
    }  

form[name ="memberform"] input[type ="name"],
form[name ="memberform"] input[type ="phone"] 
form[name="memberform"] input[type="email"] 
form[name="memberform"] text-area
form[name ="memberform"] select {
    width: 50%;
    height: 50%;
    border: 1.5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}


form[name="memberform"] fieldset {
border: #000;
padding: 5px;
margin-top: 15px;
margin-bottom: 15px;
border-radius: 5px;
margin-bottom: 10px;
}


form[name="memberform"] legend {
    font-weight: bold;

}

form[name="memberform"] label {
    display: block;
    font-weight: normal;
    margin: 10px;
}


  form[name="memberform"] button {
    width: 75%;
    padding: 10px;
    margin-top: 15px;
  }



form[name="memberform"] input[type="radio"] + label, 
form[name="memberform"] input[type="checkbox"] + label {
    display: inline;
    font-weight: 10px;
  }

/* Quiz CSS */



form[name = "Quiz"] {
  max-width: 100%;
    padding: 20px;
    max-width: 100%;
    margin: 15px auto ;
    background-color: white;
    border: solid black 0.1px;
    text-align: left;
    font-weight: lighter;
    background-color: bisque;
}



  form[name ="Quiz"] input[type ="text"] {
        width: 50%;
    height: 50%;
    border: 1.5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
  }




form[name="Quiz"] button {
   width: 75%;
    padding: 10px;
    margin-top: 15px;
  }